language: java
sudo: required
jdk:
  - oraclejdk8
cache:  
  directories:  
   - $HOME/.m2  

before_install:
    - git clone --depth 1 https://github.com/kit-sdq/BuildUtilities.git /tmp/BuildUtilities
    - . /tmp/BuildUtilities/travis-ci/installMaven.sh
install: true

script: mvn clean verify

after_success:
- . /tmp/BuildUtilities/travis-ci/deploy.sh xannotations releng/edu.kit.ipd.sdq.activextendannotations.updatesite.aggregated final kit-sdq updatesite

notifications:
  slack:
    secure: UEPdtu/ZW5j3ibHbacovtASC5/pDLgtBbW0VGUXeal8L765u4wBQFvwriQEixbK/jFbQnwua7x4SsHfTmNgW3TCqxJ70BQpKVcUg2qqBZRqdrM5bkjDLk+eE/QBYJCZHwoxdfRRf9OLsAFvwukk1QyfhrYRN6ik8RVFtHumOqPh4U0p0/V9qzpJVxOkvlVYkTsmyuan6hyHSX6gC4nJXxFie8ENjMR4x83r5OxzkL14FXjv/Y5UvLC3u2XqWtamKM5Qb14kEqqAwk4gNWgkbzcv4iE4TtsezUidONqcjCUdwUz+xzV3KxGEa5L6qNaOpbjTGc7ilBFKtIapZqN4bgDw369fjW1WAlW9LsQtsOBS1gX/KF1BzFbAZNwI/+RtpZSy6U2kMLLNwzEZ4fT8kq3XFCijeEclmSsP7E/pKtqC9jKgh2RbDWrgQ2r2ZarBjYuV2vLj0k4yN72fczJ98LGUPmdUGnfyvsTymU/YJSvvZHf/TxayyRx6XLuzYOwDw6pVtNiB+mySDCqa8em7GX85e4L4U1QSQJ4PBkEvvh32i3su+DEF+b2MPO4QosAGXJ76YSbnJsG3Gm3iaq/dWXOry/NBYLJFUW6sKtBVViS8mw0MALfb9Y5PtjdpY/BTem2W4le0c5MpTzQEw8BZC81tfzVsvi1o0t6CWKJ8ggio=